@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-sans: 'Poppins', sans-serif;

		--background: 0, 0%, 98%;
		--foreground: 152, 19%, 18%;
		--card: 34, 89%, 61%;
		--card-foreground: 152, 19%, 18%;
		--popover: 0, 0%, 98%;
		--popover-foreground: 152, 19%, 18%;
		--primary: 195, 34%, 41%;
		--primary-foreground: 0, 0%, 100%;
		--secondary: 90, 25%, 46%;
		--secondary-foreground: 152, 19%, 18%;
		--muted: 214.3 31.8% 91.4%;
		--muted-foreground: 90, 25%, 46%;
		--accent: 195, 34%, 41%;
		--accent-foreground: 0, 0%, 100%;
		--destructive: 34, 89%, 61%;
		--destructive-foreground: 0, 0%, 100%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 195, 34%, 41%;
		--radius: 0.5rem;
		--chart-1: 34, 89%, 61%;
		--chart-2: 195, 34%, 41%;
		--chart-3: 229, 38%, 25%;
		--chart-4: 90, 25%, 46%;
		--chart-5: 167, 44%, 27%;
		--loading-background: rgba(255, 255, 255, 0.6);
		--loading-foreground: 152, 19%, 18%;
	}

	.dark {
		--background: 152, 30%, 16%;
		--foreground: 34, 89%, 61%;
		--card: 229, 38%, 25%;
		--card-foreground: 34, 89%, 61%;
		--popover: 229, 38%, 25%;
		--popover-foreground: 34, 89%, 61%;
		--primary: 195, 34%, 41%;
		--primary-foreground: 152, 30%, 16%;
		--secondary: 90, 25%, 46%;
		--secondary-foreground: 34, 89%, 61%;
		--muted: 152, 19%, 18%;
		--muted-foreground: 90, 25%, 46%;
		--accent: 34, 89%, 61%;
		--accent-foreground: 152, 19%, 18%;
		--destructive: 229, 38%, 25%;
		--destructive-foreground: 34, 89%, 61%;
		--border: 167, 44%, 27%;
		--input: 167, 44%, 27%;
		--ring: 195, 34%, 41%;
		--chart-1: 34, 89%, 61%;
		--chart-2: 195, 34%, 41%;
		--chart-3: 229, 38%, 25%;
		--chart-4: 90, 25%, 46%;
		--chart-5: 167, 44%, 27%;
		--loading-background: rgba(255, 255, 255, 0.2);
		--loading-foreground: 34, 89%, 61%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply min-h-dvh bg-background text-foreground font-sans antialiased h-full;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	a {
		@apply text-primary;
		@apply hover:underline;
		@apply cursor-pointer;
	}

	.loading-background {
		background-color: var(--loading-background);
	}

	.responsive-dialog {
		width: 95% !important;
		@apply max-w-md max-h-[95%] overflow-y-auto rounded-lg
	}
}
